
/** -----------------------------
 * Core Compass Libraries
 * ------------------------------ */
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/sprites/sprite-img";
@import "compass/utilities/general";
@import "compass/support";

// Import internal silverstripe styles
@import "../../framework/admin/scss/themes/default.scss";
@import "../../framework/admin/scss/mixins.scss";

// Style of selector dropdown
.cms-fluent-selector {
	display: block;
	height: $grid-y * 3;
	line-height: $grid-y * 3;
	font-size: $font-base-size;
	overflow: visible;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-shadow: lighten($color-base, 5%) 1px 1px 0;
	color: $color-text-dark;
	padding: ($grid-y - 1) 5px ($grid-y - 1) 8px;
	background-color: $color-base;
	cursor: pointer;
	position: relative;
	z-index: 100;

	@include background-image(linear-gradient(
		$color-base,
		darken($color-base, 10%)
	));

	border-top: 1px solid lighten($color-base, 6%);
	border-bottom: 1px solid darken($color-base, 20%);

	.icon-fluent-translate {
		display: inline-block;
		float: left;
		margin: 4px 10px 0 4px;
		@include opacity(0.7);
		background-image: url('../images/menu-icon-16.png');
	}

	.text {
		display: inline-block;
		float: left;
		max-width: 100px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
	.cms-fluent-selector-flydown {
		position: absolute;
		z-index: 140;
		right: 0;
		bottom: 0;
		text-indent: -9999px;
		width: 18px;
		height: 18px;
		padding: 0;

		background-color: lighten($color-base, 2%);
		border-left: 1px solid darken($color-base, 15%);
		border-top: 1px solid darken($color-base, 15%);

		@include background-image(linear-gradient(
			lighten($color-base, 5%),
			darken($color-base, 5%)
		));
			
		.icon-fluent-select{
			width: 18px;
			height: 18px;
			display: block;
			text-indent: -9999px;
			@include opacity(0.7);
			
			background: {
				image: url('../../framework/admin/thirdparty/chosen/chosen/chosen-sprite.png');
				repeat: no-repeat;
				position: 1px -2px;
			}
		}
	}
	
	.cms-fluent-selector-locales {
		display: none;
		position: absolute;
		z-index: 120;
		right: 0;
		top: 37px;

		width: 150px;
		background-color: darken($color-base, 5%);
		border: 1px solid darken($color-base, 15%);
		border-right: 0px none;

		@include background-image(linear-gradient(
			$color-base,
			darken($color-base, 10%)
		));
			
		li {
			padding: 2px 8px;
			a {
				color: $color-text-dark;
			}
		}
	}
	
	&.active .cms-fluent-selector-locales {
		display: block;
	}
	
	&:hover,
	&.active {
		text-decoration: none;
		background-color: lighten($color-base, 2%);
		border-bottom: 1px solid darken($color-base, 15%);
		color: lighten($color-text-dark, 5%);

		@include background-image(linear-gradient(
			lighten($color-base, 5%),
			$color-base
		));
			
		.cms-fluent-selector-flydown {
			background-color: lighten($color-base, 4%);
			border-left: 1px solid darken($color-base, 10%);
			border-top: 1px solid darken($color-base, 10%);

			@include background-image(linear-gradient(
				lighten($color-base, 10%),
				$color-base
			));
		}
	}
}
