// See includePaths in webpack-config module
@import "variables";
@import "legacy/themes/default";

// $fluent-color-base: #1F9433;
$fluent-color-base: rgb(31, 148, 51);

// $fluent-color-modified: #FF9100;
$fluent-color-modified: rgb(244, 145, 0);

// Fix cms-menu collapsed for dropdown
.cms-menu.collapsed {
  .cms-menu-list {
    float: left;
  }
  .cms-fluent-selector .text {
    display: none;
  }
  .cms-fluent-selector-locales {
    width: 100%;
    .full-title {
      display: none;
    }
    .short-title {
      display: block;
    }
  }
}

// Style of selector dropdown
.cms-fluent-selector {
  display: block;
  height: auto;
  line-height: $grid-y * 3;
  overflow: visible;
  padding: 5px;
  position: relative;

  &:before {
    color: white;
    position: absolute;
    top: 50%;
    line-height: 0;
    right: 24px;
    width: 0;

    .cms-panel-layout.collapsed & {
      right: 36px;
    }
  }

  .cms-fluent-selector-locales {
    background-color: #368b39;
    background-image: url("../images/menu-icon-24-white.png");
    background-position: 6px center;;
    background-repeat: none;
    background-size: 12px;
    border-radius: 5px;
    border: 0 none;
    color: white;
    padding: 5px 21px 5px 24px;
    width: 100%;

    .cms-panel-layout.collapsed & {
      // hide text on main dropdown when collapsed, show icon only
      color: transparent;
      padding: 2px;
    }
  }
}

.field.LocalisedField label.left {
  &:after {
    float: left;
    content: url('../images/menu-icon-16-green.png');
    display: block;
    width: 16px;
    height: 16px;
    padding: 0 6px 0 0;
    opacity: 0.7;
  }

  span.fluent-locale-label {
    color: #FFFFFF;
    background: $fluent-color-base;
    display: inline-block;
    padding: 3px 3px 1px 3px;
    margin-right: 6px;
    border-radius: 2px;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 100;
    text-shadow: none;
    line-height: 1;
    cursor: default;

    &.fluent-modified-value {
      background: $fluent-color-modified;

      &:hover {
        cursor: pointer;
        background: $fluent-color-base;
      }
    }
  }
}

.jstree li.status-fluenthidden .item {
  opacity: 0.5;
}

span.badge.status-fluenthidden {
  color: $color-text-light;
  border: 1px solid darken($fluent-color-base, 20%);
  background-color: $fluent-color-base;
  text-shadow: none;
}
